name: mapache

services:
  kerbecs:
    image: bk1031/kerbecs:latest
    container_name: kerbecs
    restart: unless-stopped
    depends_on:
      - rincon
    environment:
      PORT: "10310"
      ADMIN_PORT: "10300"
      KERBECS_USER: "admin"
      KERBECS_PASSWORD: "admin"
      KERBECS_ENDPOINT: "http://kerbecs:10300"
      KERBECS_HEALTH_CHECK: "http://kerbecs:10300/admin-gw/ping"
      RINCON_USER: "admin"
      RINCON_PASSWORD: "admin"
      RINCON_ENDPOINT: "http://rincon:10311"
    ports:
      - "10310:10310"
      - "10300:10300"

  rincon:
    image: bk1031/rincon:latest
    container_name: rincon
    restart: unless-stopped
    environment:
      PORT: "10311"
      AUTH_USER: "admin"
      AUTH_PASSWORD: "admin"
      SELF_ENDPOINT: "http://rincon:10311"
      SELF_HEALTH_CHECK: "http://rincon:10311/rincon/ping"
      STORAGE_MODE: "local"
      OVERWRITE_ROUTES: "true"
      HEARTBEAT_TYPE: "server"
      HEARTBEAT_INTERVAL: "10"
    ports:
      - "10311:10311"

  auth:
    image: gauchoracing/mp_auth:latest
    container_name: auth
    restart: unless-stopped
    depends_on:
      - rincon
    ports:
      - "7002:7002"
    environment:
      ENV: "DEV"
      PORT: "7002"
      SERVICE_ENDPOINT: "http://auth:7002"
      SERVICE_HEALTH_CHECK: "http://auth:7002/auth/ping"
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      RINCON_USER: "admin"
      RINCON_PASSWORD: "admin"
      RINCON_ENDPOINT: "http://rincon:10311"
      SENTINEL_URL: ${SENTINEL_URL}
      SENTINEL_JWKS_URL: ${SENTINEL_JWKS_URL}
      SENTINEL_CLIENT_ID: ${SENTINEL_CLIENT_ID}
      SENTINEL_CLIENT_SECRET: ${SENTINEL_CLIENT_SECRET}
      SENTINEL_TOKEN: ${SENTINEL_TOKEN}
      SENTINEL_REDIRECT_URI: ${SENTINEL_REDIRECT_URI}

  jeddah:
    image: gauchoracing/mp_jeddah:latest
    container_name: jeddah
    restart: unless-stopped
    depends_on:
      - rincon
    ports:
      - "7003:7003"
    environment:
      ENV: "DEV"
      PORT: "7003"
      SERVICE_ENDPOINT: "http://jeddah:7003"
      SERVICE_HEALTH_CHECK: "http://jeddah:7003/jeddah/ping"
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      RINCON_USER: "admin"
      RINCON_PASSWORD: "admin"
      RINCON_ENDPOINT: "http://rincon:10311"

  gr26:
    build:
      context: ./gr26
      dockerfile: Dockerfile
    container_name: gr26
    restart: unless-stopped
    depends_on:
      - nanomq
      - rincon
    ports:
      - "7005:7005"
    environment:
      ENV: "DEV"
      PORT: "7005"
      SERVICE_ENDPOINT: "http://gr26:7005"
      SERVICE_HEALTH_CHECK: "http://gr26:7005/gr26/ping"
      MQTT_HOST: "nanomq"
      MQTT_PORT: "1883"
      MQTT_USER: "gr26"
      MQTT_PASSWORD: "gr26"
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      RINCON_USER: "admin"
      RINCON_PASSWORD: "admin"
      RINCON_ENDPOINT: "http://rincon:10311"

  query:
    image: gauchoracing/mp_query:latest
    container_name: query
    restart: unless-stopped
    depends_on:
      - rincon
    ports:
      - "7010:7010"
    environment:
      ENV: "DEV"
      PORT: "7010"
      SERVICE_ENDPOINT: "http://query:7010"
      SERVICE_HEALTH_CHECK: "http://query:7010/query/ping"
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      RINCON_USER: "admin"
      RINCON_PASSWORD: "admin"
      RINCON_ENDPOINT: "http://rincon:10311"
      SENTINEL_URL: ${SENTINEL_URL}
      SENTINEL_JWKS_URL: ${SENTINEL_JWKS_URL}
      SENTINEL_CLIENT_ID: ${SENTINEL_CLIENT_ID}

  nanomq:
    image: emqx/nanomq:latest
    restart: unless-stopped
    ports:
      - "1883:1883"

